*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-member{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container-member > p{
    width: calc(100% / 3) - 2rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.container-member > div{
    width: calc(( 100% / 3 ) - 2rem);
    border: 1px solid greenyellow;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

img{
    width: 200px;
    height: 300px;
    
}