*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

h2{
    margin-bottom: .5rem;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-member{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

p{
    width: calc(100% / 3) - 2rem;
    font-size: .8rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.container-member > div{
    width: calc(( 100% / 3 ) - 2rem);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

img{
    width: 270px;
    height: 300px;
    margin-bottom: .5rem;
}